/*Global CSS*/
.capitalize {
    text-transform: capitalize;
}

/* store map  */


.store-wrapper .store-content {
    padding: 20px 0;
}

.store-wrapper .store-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.store-wrapper .store-selection .store-heading {
    margin-bottom: 20px;
}

.store-wrapper #storeMap {
    height: 580px;
}